* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Cormorant Garamond", serif;
  user-select: none;
  /* color: rgb(232, 240, 255); */
}
body {
  background: linear-gradient(
    to left bottom,
    #2a0041,
    #0e1a50,
    #002955,
    #003554,
    #003f50,
    #004154,
    #004457,
    #00465b,
    #004069,
    #003773,
    #222773,
    #4c0067
  );
  width: 100vw;
  height: 100vh;
  color: rgb(232, 240, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
  padding-bottom: 5%;
}
#tag {
  font-size: 4rem;
}
#emailInp {
  width: 240px;
  padding: 10px 15px;
  height: 50px;
  border-radius: 6.5px;
  border: 2.5px double rgba(41, 173, 255, 0.462);
  font-size: 1.3rem;
  font-family: "Dosis", sans-serif;
}
#inputDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  font-family: "Dosis", sans-serif;
}
#inputDiv button {
  width: 240px;
  padding: 0 10px;
  height: 50px;
  border: 2.5px double rgba(41, 173, 255, 0.462);
  border-radius: 25px;
  font-family: "Dosis", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: rgb(157, 255, 0);
}

#redirectDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#inpAndRed {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
#redirectDiv a {
  color: rgb(157, 255, 0);
}
button:hover {
  background-color: white;
  color: #000000;
  cursor: pointer;
}
#passwordInp {
  margin-bottom: 30px;
  width: 240px;
  padding: 10px 15px;
  height: 50px;
  border-radius: 6.5px;
  border: 2.5px double rgba(41, 173, 255, 0.462);
  font-size: 1.3rem;
  font-family: "Dosis", sans-serif;
}

.green {
  color: rgb(229, 255, 186);
}
#signupBtn:hover{
    background-color: rgb(203, 255, 118);

}