* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  scrollbar-width: none;
  color: #e6e6fa;
  user-select: none;
}

:root {
  --hoverColor: rgba(255, 255, 255, 0.12);
  --activeColor: #ffd700;
  --secondaryColor: #ffd700;
  --nonHoverColor: rgba(255, 255, 255, 0.065);
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Lexend", sans-serif;
  background: linear-gradient(
    170deg,
    rgba(14, 3, 45, 0.95),
    rgba(19, 0, 36, 0.95)
  );
  color: #dcf1ff;
  background-attachment: fixed;
}

header {
  padding: 15px 20px;
  background-color: rgba(136, 0, 255, 0.065);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1012);
}

header h1 {
  width: 90%;
  margin: 0;
}

#logOut {
  width: auto;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}

#logOutBtn,
#signOutBtn {
  width: 85px;
  height: 100%;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.065);
  color: #dcf1ff;
  border: none;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1012);
  box-shadow: 0px 7px 17px rgba(0, 0, 0, 0.281);

}

#logOutBtn {
  border-radius: 5px 0 0 5px;
  border-right: 1px solid rgba(255, 255, 255, 0.169);
}

#signOutBtn {
  border-radius: 0 5px 5px 0;
  color: #ff7474;
}

#signOutBtn:hover,
#logOutBtn:hover {
  cursor: pointer;
  background-color: var(--hoverColor);
}

.sidebar {
  width: 280px;
  height: 100vh;
  background-color: rgba(14, 3, 45, 0.195);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  margin-top: 75px;
  padding: 30px 20px;
  border-right: 1px solid var(--hoverColor);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 07px 7px 17px rgba(0, 0, 0, 0.281);

  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1012); */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px;
  text-align: left;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  display: block;
}

.sidebar ul li a:hover {
  background-color: var(--hoverColor);
}

#content {
  margin-left: 280px;
  margin-top: 75px;
  padding: 20px;
  height: calc(100vh - 75px);
  overflow-y: auto;
}

.navBtns {
  background: transparent;
  border: none;
  font-size: large;
  text-align: left;
  padding: 5px 10px;
  color: #d3d3d3;
  opacity: 0.6;
}

.navBtns:hover {
  cursor: pointer;
  color: #ffe865;
}
.active {
  opacity: 1;
  color: var(--secondaryColor);
}
.navBtns.active {
  color: #ffd700; /* Gold color for active button text */
  position: relative; /* To position the dot correctly */
}

.navBtns.active::before {
  content: "•"; /* Unicode character for the dot */
  font-size: 18px; /* Adjust size if needed */
  margin-right: 8px; /* Space between dot and text */
  color: #ffd700; /* Same color as the text */
  position: absolute;
  left: -12px; /* Position the dot to the left of the text */
  top: 50%;
  transform: translateY(-50%); /* Vertically center the dot */
}
#content > div {
  display: none;
}
#dashboard,#reports {
  padding: 20px 10px;
  /* border: 0.1px solid rgba(255, 255, 255, 0.091); */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
#dashboardContent {
  /* border: 0.1px solid rgba(255, 255, 255, 0.091); */
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* gap: 10px; */
  flex-wrap: wrap;
  gap: 20px;
  padding-right: 30%;
  row-gap: 100px;
}
#dashboardStatsDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* border: 0.1px solid rgba(255, 0, 0, 0.091);
   */
  flex-wrap: wrap;
}
#weeksExpenseDiv,
#monthsExpenseDiv,
#daysExpenseDiv {
  width: 250px;
  height: 250px;
  min-width: 250px;
  min-height: 250px;
  border: 0.1px solid var(--hoverColor);
  background-color: var(--nonHoverColor);
  border-radius: 6.5%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 07px 7px 17px rgba(0, 0, 0, 0.281);

}
#weekExpenseHeader,
#daysExpenseHeader,
#monthsExpenseHeader {
  opacity: 0.6;
}
#weekExpensesTxt,
#daysExpensesTxt,
#monthsExpenseTxt {
  font-size: 40px;
  opacity: 0.8;
}
#weekExpensesTxt {
  color: rgb(255, 185, 56);
}
#monthsExpenseTxt {
  color: rgb(255, 56, 30);
}
#daysExpensesTxt {
  color: rgb(149, 255, 27);
}
#dashboardHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 12%;
}
#dashboardHeader h3 {
  opacity: 0.6;
}
#dashboardExpenseTableDiv {
  width: 100%;
  /* border: 0.1px solid rgba(255, 255, 255, 0.091); */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#dashboardExpenseTableDiv table {
  -webkit-margin-collapse: collapse;
  text-align: center;
}
#dashboardExpenseTableDiv table {
  font-size: large;
  /* opacity: 0.8; */
  width: 300px;
  height: auto;
  
}
#dashboardExpenseTableDiv table tbody {
  font-size: medium;
  font-weight: 400;
  opacity: 0.6;
}
#dashboardExpenseTableDiv table thead tr td {
  border-bottom: 1px solid #ffffff33;
}
#dashboardExpenseTableDiv table tbody tr td {
  padding: 10px 10px; /* Add spacing inside table cells */
}
#newExpenseDiv {
  width: 500px;
  padding: 20px 25px;
  background-color: var(--nonHoverColor);
  border-radius: 10px;
  height: 300px;
  border: 0.1px solid var(--hoverColor);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: 07px 7px 17px rgba(0, 0, 0, 0.281);

  /* padding-bottom: 10%; */
}
#newExpenseDiv h3{
  height: 20%;
}
#newExpenseBtn {
  color: #0c0c0c;
  width: 70%;
  height: 40px;
  border:  1px solid #d3d3d3;
  background-color: none;
  background: transparent;
  border-radius: 10px;
  color: #d3d3d3;

}
.newExpenseInp{
  padding: 10px 25px;
  border-radius: 10px;
  border:none;
  width: 70%;
  height: 40px;
  color: #0c0c0c;
}
#newExpenseBtn:hover,#showMore:hover{
  background-color: var(--hoverColor);
  cursor: pointer;
}
#showMore{
  color: #0c0c0c;
  width: auto;
  border:  1px solid #d3d3d3;
  background-color: none;
  background: transparent;
  border-radius: 10px;
  color: #d3d3d3;
  padding: 10px 15px;
  opacity: 1;
}
#reportsContent{
  border: 1px solid rgba(251, 250, 255, 0.195)
}
#reportTable {
  width: 70vw;
  border-radius: 10px;
  border-collapse: collapse; /* Ensure proper spacing */
  box-shadow: 07px 7px 17px rgba(0, 0, 0, 0.281);

}

#reportTable thead {
  background-color: rgba(136, 0, 255, 0.065);

  height: 65px;
  font-size: 20px;
}

#reportTable thead th {
  text-align: left; /* Align header text to the left */
  padding: 10px;
  border-bottom: 1px solid var(--hoverColor);
  color: #d3d3d3;

}

#reportTable tbody tr td {
  padding: 10px; /* Use padding for spacing */
  height: 30px;
  color: #d3d3d3c6;
}

#reportTable tbody tr:nth-child(even) {
  background-color:rgba(255, 255, 255, 0.065) ; /* Alternating row colors for better readability */
}

.editExpenseBtn,.deleteExpenseBtn{
  width: auto;
  padding: 5px 10px;
  background: transparent;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}
.deleteExpenseBtn{
  border: 1px solid #ff2a31;
  color:#ff8084 ;

}
.editExpenseBtn:hover,.deleteExpenseBtn:hover{
  background-color: var(--hoverColor);
  cursor: pointer;
}
.opColumn{
  width: 180px;
}